html{
     width             :  100%;
     height            :  100%;
}
body{
     width             :  100%;
     height            :  100%;
     margin            :  0;
     padding           :  0;
}
#content{
     width             :  100%;
     height            :  100%;
}
.login-main{
     width             :  100%;
     height            :  100%;
     position          :  relative;
     background-image  :  url('./imgs/login-bg.jpg');
     background-size   :  100%;
}
.login-bg{
     height            :  100%;

}
.header{
     height            :  50px;
     width             :  100%;
     border-bottom     :  1px solid rgba(255,255,255,.3);
     line-height       :  50px;
     color             :  #fff;
     padding           :  0 30px;
     -webkit-box-sizing:  border-box;
     -moz-box-sizing   :  border-box;
     box-sizing        :  border-box;
}
.header a{
     display           :  inline-block;
     line-height       :  50px;
     float             :  right;
     text-decoration   :  none;
     outline           :  none;
     color             :  #fff;
}
.header span{
     display           :  inline-block;;
     line-height       :  50px;
}
.login-div{
     background-color  :  #fff;
     width             :  380px;
     height            :  350px;
     position          :  relative;
     top               :  20%;
     left              :  60%;
}
.login-div{
     padding           :  20px 30px;
}
.login-title{
     height            :  44px;
     font-size         :  18px;
     color             :  #373D41;
     width             :  100px;
     line-height       :  44px;
}
.login-input{
     background        :  #FFF;
     border            :  1px solid #D7D8D9;
     height            :  40px;
     line-height       :  40px;
     padding           :  0 10px;
     box-sizing        :  border-box;
     outline           :  0;
     box-shadow        :  none;
     margin-bottom     :  15px;
     width             :  100%;
}
.login-btn{
     background        :  #00C1DE;
     border-color      :  #00C1DE;
     color             :  #fff;
     text-align        :  center;
}