<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <meta name="format-detection" content="telephone-no">
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <!--<link href="">-->
</head>
<body>
    <div id="content"></div>
    <script src="../common/vendors/react.min.js"></script>
    <script src="../common/vendors/react-dom.min.js"></script>
    <script src="../common/vendors/jquery-3.2.1.min.js"></script>
    <script src="../common/js/indexAPI.js"></script>
    <!--<script src="../common/js/"></script>-->
</body>
</html>